In [4]:
import pandas as pd
age = pd.read_csv("population-by-broad-age-group.csv")

In [5]:
age = age[age["Code"].isnull()]

In [6]:
age

,Entity,Code,Year,5 and under,5 to 14,15 to 24,25 to 64,65 or over
71,Africa,NaN,1950,38570006,55627060,43393394,82816985,7386692
72,Africa,NaN,1951,39820686,56800599,44002328,84179055,7525189
73,Africa,NaN,1952,40856742,58134549,44704846,85751935,7648488
74,Africa,NaN,1953,41796166,59559209,45479697,87499676,7757708
75,Africa,NaN,1954,42758651,60986831,46313613,89398483,7853019
...,...,...,...,...,...,...,...,...
14834,World,NaN,2016,672883378,1270085714,1198460382,3692884219,629708241
14835,World,NaN,2017,674734222,1279720725,1199424427,3740589020,653390506
14836,World,NaN,2018,676275956,1289142086,1201897160,3785709418,678066493
14837,World,NaN,2019,677366407,1297906548,1205381570,3829878667,702935013
14838,World,NaN,2020,677941790,1305706836,1209583658,3873960100,727606345

In [7]:
age.to_csv("broad_age.csv")